---
import "../styles/pico.min.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="../styles/pico.min.css" />
		<title>ScamBasta</title>
	</head>
	<body>
		
		<main class="container">
			<nav>
				<ul>
				  <li><a href="#" class="secondary">...</a></li>
				</ul>
				<ul>
				  <li><strong>ScamBasta</strong></li>
				</ul>
				<ul>
				  <li><a href="#" class="secondary">...</a></li>
				</ul>
			  </nav>
			  <article>
				<header>Header</header>
				Body
				<footer>Footer</footer>
			  </article>
			  <form>
				<article>This is a test card</article>
				<fieldset role="group">
				  <input name="email" type="email" placeholder="Enter your email" autocomplete="email" />
				  <input type="submit" value="Subscribe" />
				</fieldset>
			  </form>
			  <!-- Primary -->
<details>
	<summary role="button">Accordion 1</summary>
	<p>
  Praesent quam ipsum, condimentum non augue at, porttitor interdum tellus. Curabitur ultrices consectetur leo, a placerat mauris malesuada et. In quis varius risus.
   </p>
  </details>
  
  <!-- Secondary -->
  <details>
	<summary role="button" class="secondary">Accordion 2</summary>
	<p>
  Praesent quam ipsum, condimentum non augue at, porttitor interdum tellus. Curabitur ultrices consectetur leo, a placerat mauris malesuada et. In quis varius risus.
  </p>
  </details>
  
  <!-- Contrast -->
  <details>
	<summary role="button" class="contrast">Accordion 3</summary>
	<p>
  Praesent quam ipsum, condimentum non augue at, porttitor interdum tellus. Curabitur ultrices consectetur leo, a placerat mauris malesuada et. In quis varius risus.
  </p>
  </details>
			  <div class="grid">
				<div>1</div>
				<div>2</div>
				<div>3</div>
				<div>4</div>
			  </div>
		<form>
			<fieldset>
			  <label>
				First name
				<input
				  name="first_name"
				  placeholder="First name"
				  autocomplete="given-name"
				/>
			  </label>
			  <label>
				Email
				<input
				  type="email"
				  name="email"
				  placeholder="Email"
				  autocomplete="email"
				/>
			  </label>
			</fieldset>
		  
			<input
			  type="submit"
			  value="Subscribe"
			/>
		  </form>
		</main>
	</body>
</html>
